:root{
    --primaryTitleColor: #FFFFFF;
    --primaryTextColor: #212121;
    --primaryLinkColor: #2196F3;
    --primaryButtonColor: #FFFFFF;
    --primaryButtonBackgroundColor: #2196F3;
    --primaryFooterBackgroundColor: #2F303A;
    --primaryAdressColor: #FFFFFF;
    --primaryTelMailColor: #757575;
    --primarySectionBackgroundColor: #2F303A;
    --primaryLogoWebColor: #2196F3;  
    --primaryLogoStudioColor: #000000;
    --primaryStudioLogoColor: #FFFFFF;
    --primarySectionStudioColor: #FFFFFF;
    --primarySectionStudioMainColor: #2196F3;
}
#Title{color: var(--primaryTitleColor);}
p{color: var(--primaryTextColor);}
a{color: var(--primaryLinkColor);}
button{color:var(--primaryButtonColor)}
h1{color: var(--primaryTextColor);}
button{background-color: var(--primaryButtonBackgroundColor);}
footer{background-color: var(--primaryFooterBackgroundColor);}
a[href^="tel:+380961111111"] {color: var(--primaryTelMailColor);}
a[href^="mailto:info@devstudio.com"] {color: var(--primaryTelMailColor);}
#Секція{background-color: var(--primarySectionBackgroundColor);}
#Адресса{color: var(--primaryAdressColor);}
#Web{color: var(--primaryLogoWebColor);}
#Studio{color: var(--primaryLogoStudioColor);}
#Студіо{color: var(--primaryStudioLogoColor);}
#Студія{color: var(--primarySectionStudioColor);}
.Medium{color: var(--primarySectionStudioMainColor);}
#Web {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
#Studio{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
#Веб{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
#Студіо{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
.Medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

#Title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.Bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.Size-Normal {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }