:root{
    --primaryTitleColor: #FFFFFF;
    --primaryTextColor: #212121;
    --primaryLinkColor: #2196F3;
    --primaryButtonColor: #FFFFFF;
    --primaryButtonBackgroundColor: #2196F3;
    --primaryFooterBackgroundColor: #2F303A;
    --primaryAdressColor: #FFFFFF;
    --primaryTelMailColor: #757575;
    --primarySectionBackgroundColor: #2F303A;
    --primaryLogoWebColor: #2196F3;  
    --primaryLogoStudioColor: #000000;
    --primaryStudioLogoColor: #FFFFFF;
    --primarySectionStudioColor: #2196F3;
    --primarySectionStudioMainColor: #2196F3;
}


.logo{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.Medium{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.gallery_description{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .People-Name{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  }
.menu-link{
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.contact-link{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.main_title{
  font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.worker-description{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.address_street{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero-section{
  background-color: #212121;
}
