:root{
    --primaryTitleColor: #FFFFFF;
    --primaryTitleTextColor: #212121;
    --primaryHeroLinkColor: #2196F3;
    --primaryButtonColor: #FFFFFF;
    --primaryButtonBackgroundColor: #2196F3;
    --primaryAdressColor: #FFFFFF;
    --primaryContactsColor: #757575;
    --primaryBackgroundColor: #2F303A;
    --primaryWebColor: #2196F3;  
    --primaryStudioColor: #000000;
    --primaryLogoColor: #FFFFFF;
    --primarySectionStudioColor: #2196F3;
    --primarySectionStudioMainColor: #2196F3;
    --primaryLinkColor: #212121;    
    --primaryHeroConactColor: #2196F3;
    --primaryTextColor: #757575;
}
.container{
  width: 1200px;
  margin: 0 auto;
}

.logo{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--primaryWebColor);
}

.Medium{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.gallery_description{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .People-Name{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  }
.menu-link{
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--primaryLinkColor);
}
.contact-link{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primaryContactsColor);
}
.main_title{
  font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.worker-description{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.address-street{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primaryAdressColor);
}
.hero-section{
  background-color: var(--primaryBackgroundColor);
}
.studio{
  color: var(--primaryStudioColor);
}
.Studio{
  color: var(--primaryLogoColor);
}
.hero-title{
  padding: 200px 0;
  color: var(--primaryTitleColor);
  text-align: center;
}
.hero-button{
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  color: var(--primaryHeroButtonColor);
  background-color: var(--primaryHeroButtonBackgroundColor);
}
.hero-link{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primaryHeroLinkColor);
}
.hero-contact{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primaryHeroConactColor);
}
.item-text{
  color: var(--primaryTextColor);
}
.worker-description{
  color: var(--primaryTextColor);
}
.title{
  text-align: center;
}
.footer{
  background-color: var(--primaryBackgroundColor);
}




/*портфоліо*/






:root{
  --primaryTitleTextColor: #212121;
  --primaryHeroLinkColor: #2196F3;
  --primaryButtonColor: #212121;
  --primaryHeroButtonBackgroundColor: #2196F3;
  --primaryButtonBackgroundColor: #FFFFFF;
  --primaryAdressColor: #FFFFFF;
  --primaryContactsColor: #757575;
  --primaryBackgroundColor: #2F303A;
  --primaryWebColor: #2196F3;  
  --primaryStudioColor: #000000;
  --primaryLogoColor: #FFFFFF;
  --primarySectionStudioColor: #2196F3;
  --primaryLinkColor: #212121;    
  --primaryHeroConactColor: #2196F3;
  --primaryTextColor: #757575;
  --primaryHeroButtonColor: #FFFFFF;
}

.product-description{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primaryTextColor);
}
.product-name  {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pold {
font-family: "Raleway", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}

.filter-button{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
}
.first-button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--primaryHeroButtonBackgroundColor);
  color: var(--primaryHeroButtonColor);
}
.address{
font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.logo{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--primaryWebColor);
}
.hero-link{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primaryHeroLinkColor);
}
.street-address{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primaryAdressColor);
}