:root{
    --primaryTitleColor: #FFFFFF;
    --primaryTitleTextColor: #212121;
    --primaryHeroLinkColor: #2196F3;
    --primaryButtonColor: #FFFFFF;
    --primaryButtonBackgroundColor: #2196F3;
    --primaryAdressColor: #FFFFFF;
    --primaryContactsColor: #757575;
    --primaryBackgroundColor: #2F303A;
    --primaryWebColor: #2196F3;  
    --primaryStudioColor: #000000;
    --primaryLogoColor: #FFFFFF;
    --primarySectionStudioColor: #2196F3;
    --primarySectionStudioMainColor: #2196F3;
    --primaryLinkColor: #212121;    
    --primaryHeroConactColor: #2196F3;
    --primaryTextColor: #757575;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
.body{
  font-family: var(--font-family);
  font-weight: 400;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo{
  font-family: var(--second-family);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--primaryWebColor);
  letter-spacing: 0.03em;
  font-size: 26px;
}
.gallery_description{
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
  }
  .People-Name{
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  }
.menu-link{
  font-family: var(--font-family);
    font-weight: 500;
    font-style: normal;
    color: var(--primaryLinkColor);
    padding-right: 114px;
}
.contact-link{
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  color: var(--primaryContactsColor);
}
.worker-description{
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--primaryTextColor);
  text-align: center;
  padding-bottom: 124px;
}
.address-street{
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  color: var(--primaryAdressColor);
}
.hero-section{
  background-color: var(--primaryBackgroundColor);
  width: 1800px;
  height: 600px;
}
.studio{
  color: var(--primaryStudioColor);
  letter-spacing: 0.03em;
  font-size: 26px;
}
.Studio{
  color: var(--primaryLogoColor);
  letter-spacing: 0.03em;
  font-size: 26px;
}
.hero-title{
  padding: 200px 0;
  color: var(--primaryTitleColor);
  text-align: center;
  padding-bottom: 30px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-size: 44px;
  text-transform: uppercase;
}
.hero-button{
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  color: var(--primaryHeroButtonColor);
  background-color: var(--primaryHeroButtonBackgroundColor);
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-size: 16px;
}
.hero-link{
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  color: var(--primaryHeroLinkColor);
  letter-spacing: 0.02em;
  font-size: 14px;
  padding-right: 122px;
}
.hero-contact{
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  color: var(--primaryHeroConactColor);
  padding-right: 50px;
  margin-left: 780px;
  padding-left: 50px;
}
.item-text{
  color: var(--primaryTextColor);
  line-height: 1.71;
  font-size: 14px;
}
.title{
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 36px;
}
.footer{
  background-color: var(--primaryBackgroundColor);
}
.contact-item{
  letter-spacing: 0.02em;
  font-size: 14px;
}
.item-title{
  letter-spacing: 0.03em;
  font-size: 14px;
  text-transform: uppercase;
}
.worker-name{
  letter-spacing: 0.03em;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.menu{
  display: flex;
}
.contacts{
  display: flex;
}
.our-work-image{
  height: 294px;
  width: 370px;
  padding-right: 30px;
  padding-top: 50px;
}
.our-work-list{
  display: flex;
  padding-bottom: 188px;
}
.worker-image{
  height: 260px;
  width: 270px;
 padding-right: 30px;
}
.workers{
  display: flex;
  padding-top: 50px;
}
.list{
  display: flex;
  padding-top: 56px;
  padding-bottom: 118px;
}




/*портфоліо*/






:root{
  --primaryTitleTextColor: #212121;
  --primaryHeroLinkColor: #2196F3;
  --primaryButtonColor: #212121;
  --primaryHeroButtonBackgroundColor: #2196F3;
  --primaryButtonBackgroundColor: #FFFFFF;
  --primaryAdressColor: #FFFFFF;
  --primaryContactsColor: #757575;
  --primaryBackgroundColor: #2F303A;
  --primaryWebColor: #2196F3;  
  --primaryStudioColor: #000000;
  --primaryLogoColor: #FFFFFF;
  --primarySectionStudioColor: #2196F3;
  --primaryLinkColor: #212121;    
  --primaryHeroConactColor: #2196F3;
  --primaryTextColor: #757575;
  --primaryHeroButtonColor: #FFFFFF;
}
.product-description{
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  color: var(--primaryTextColor);
  line-height: 1.87;
  font-size: 16px;
}
.product-name  {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.06em;
  font-size: 18px;
}

.filter-button{
font-family: var(--font-family);
font-weight: 500;
font-style: normal;
letter-spacing: 0.03em;
line-height: 1.62;
height: 38px;
width: 125px;
}
.first-button{
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  background-color: var(--primaryHeroButtonBackgroundColor);
  color: var(--primaryHeroButtonColor);
  display: block;
  height: 38px;
  width: 73px;
  margin-left: 280px;
}
.address{
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
}
.logo{
  font-family: var(--second-family);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--primaryWebColor);
}
.hero-link{
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  color: var(--primaryHeroLinkColor);
}
.street-address{
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  color: var(--primaryAdressColor);
  line-height: 1.71;
  font-size: 14px;
}
.contact-link{
  line-height: 1.71;
  font-size: 14px;
}
.filter-item{
  font-size: 16px;
}
.filter-list{
  display: flex;
  padding-bottom: 34px;
  padding-top: 126px;
}
.product-image{
  height: 294px;
  width: 370px;
}
.first-line{
  display: flex;
  padding-bottom: 30px;
}
.second-line{
  display: flex;
  padding-bottom: 30px;
}
.third-line{
  display: flex;
  padding-bottom: 94px;
}
.gallery-item{
  padding-right: 30px;
}
.header-position{
  display: flex;
}